.col-md-5 img {
    width: 100%;
}

.flashes {
    list-style-type: none;
    padding: 0;
}

.flash-item {
    background-color: #f8d7da; 
    color: #721c24; 
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #f5c6cb; 
}
