{% extends "base.html" %}
{% block content %}
<h2>{{ page_title }}</h2>
<p>
    Thorin and Company was an organization led by Thorin Oakenshield and created by Gandalf the Grey. They were
    initially thirteen Dwarves, all but three part of the Line of Durin. However, they were later joined by the Hobbit
    Bilbo Baggins. They succeeded in their quest to reclaim Erebor from the dragon Smaug and fought alongside the
    Dwarves of the Iron Hills against Azog's and Sauron's forces. However, only ten survived the Battle of the Five
    Armies, with Thorin and his nephews Fíli and Kíli falling in battle.
</p>

{% for member in company %}
<div class="row featurette">
    {% if loop.index % 2 != 0 %}
    <div class="col-md-7">
        <h3>{{ loop.index }}. {{ member.name }}</h3>
        <p>{{ member.description }}</p>
    </div>
    <div class="col-md-5">
        <img src="{{ member.image_source }}" alt="{{ member.name }}" class="featurette-image img-responsive">
    </div>
    {% else %}
    <div class="col-md-5">
        <img src="{{ member.image_source }}" alt="{{ member.name }}" class="featurette-image img-responsive">
    </div>
    <div class="col-md-7">
        <h3>{{ loop.index }}. {{ member.name }}</h3>
        <p>{{ member.description }}</p>
    </div>
    {% endif %}
</div>
{% if not loop.last %}
<hr class="featurette-divider">
{% endif %}
{% endfor %}
{% endblock %}