{% extends "base.html" %}
{% block content %}
<h2>About Page</h2>
<p>
    Thorin and Company was an organization led by Thorin Oakenshield and created by Gandalf the Grey. They were
    initially thirteen Dwarves, all but three part of the Line of Durin. However, they were later joined by the Hobbit
    Bilbo Baggins. They succeeded in their quest to reclaim Erebor from the dragon Smaug and fought alongside the
    Dwarves of the Iron Hills against Azog's and Sauron's forces. However, only ten survived the Battle of the Five
    Armies, with Thorin and his nephews Fíli and Kíli falling in battle.
</p>
<div class="row featurette">
    <div class="col-md-7">
        <h3>Thorin Oakenshield</h3>
        <p>
            Thorin is the exiled king of the Dwarves of Erebor, driven from their homeland by the dragon Smaug. He leads
            a company of dwarves, aided by the wizard Gandalf and hobbit Bilbo Baggins, on a quest to reclaim the Lonely
            Mountain and slay Smaug. Initially distrustful of Bilbo, Thorin grows to respect him after witnessing his
            bravery. A skilled warrior and born leader, Thorin wields the dwarven sword Deathless and later the elvish
            blade Orcrist. He bears scars from his battle with the pale orc Azog, who had previously led the attack on
            Erebor. Determined to restore his people's home, Thorin's single-minded pursuit of this goal drives the
            company's epic journey across Middle-earth, personifying the dwarves' unwavering resolve.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://vignette.wikia.nocookie.net/lotr/images/3/3f/ThorinBIG.jpg" alt="Thorin Oakenshield">
    </div>
</div>
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://vignette.wikia.nocookie.net/lotr/images/b/b4/The-Hobbit-Fili-and-Kili.jpg"
            alt="Fili and Kili">
    </div>
    <div class="col-md-7">
        <h3>Fili and Kili</h3>
        <p>
            Fíli and Kíli were nephews of Thorin, who was the elder brother of their mother Dís. They were also nephews
            of Frerin, grandsons of Thráin II, and great-grandsons of Thrór. Fíli's most distinguishing feature was his
            long nose, the longest of any of the Dwarves in Thorin's company.
        </p>
    </div>
</div>
{% endblock %}